<app-left-pane></app-left-pane>
<div class="container driverContainer">
  <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="form-group">
              <form (submit)="addNew()">
                <label for="exampleInputId">ID no.</label>
                <input name="id_no" [(ngModel)]="form.id_no" type="text" maxlength="13" class="form-control" id="exampleInputId" aria-describedby="emailHelp">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" [(ngModel)]="form.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <label for="exampleIform.nputName">Fullname</label>
                <input name="fullname" [(ngModel)]="form.fullname" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
                <label for="exampleInputMobile">Mobile</label>
                <input name="mobile" [(ngModel)]="form.mobile" type="number" class="form-control" id="exampleInputMobile" aria-describedby="emailHelp">
                <label for="exampleInputPlate">Number plate</label>
                <input name="number_plate" [(ngModel)]="form.number_plate" type="text" class="form-control" id="exampleInputPlate" aria-describedby="emailHelp">
                <label for="exampleFormControlSelect1">Vehicle type</label>
                <select name="vehicle" [(ngModel)]="form.vehicle" class="form-control" id="exampleFormControlSelect1">
                  <option>small</option>
                  <option>medium</option>
                  <option>large</option>
                </select>
                <label for="exampleFormControlFile1">Image</label>
                <input name="file" [(ngModel)]="form.file" type="file" class="form-control-file" id="fileInput"><br/>
                <button type="submit"  class="btn btn-warning">Add new driver</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 existingDrivers">
        <h5>Existing drivers</h5>
        <div id="drivers">
          <table class="table">
            <thead  class="thead-dark">
              <tr>
                <th scope="col">Mobile</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Truck type</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let driver of drivers">
                <td>{{driver.mobile}}</td>
                <td>{{driver.fullname}}</td>
                <td>{{driver.email}}</td>
                <td>{{driver.type}}</td>
                <td (click)="getDriver(driver.mobile)"><span class="driverdetails">details</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>