<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="leftPane">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <br><br><br><br>
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" style="color: #f59000 !important">
                    <i class="fas fa-car-alt"></i>
                    Drivers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabledLink" routerLink="/users">
                    <i class="fas fa-users"></i>
                    Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabledLink" href="#">
                    <i class="fab fa-stripe"></i>
                    Payments
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabledLink" href="#">
                    <i class="fas fa-chart-pie"></i>
                    Stats
                  </a>
                </li>
                
              </ul>
  
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Driver reports</span>
                <a class="d-flex align-items-center text-muted" href="#">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link disabledLink" href="#">
                    <i class="far fa-calendar-alt"></i>
                    Monthly repors
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabledLink" href="#">
                    <i class="fas fa-table"></i>
                    Weekly repors
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabledLink" href="#">
                    <i class="far fa-clock"></i>
                    Daily repors
                  </a>
                </li>
                <li class="nav-item" id="logout" (click)="logout()">
                  <a class="nav-link disabledLink" href="#" style="color:#f44336 !important;">
                    <i class="fas fa-user-lock"></i>
                    Logout
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
  </div>