.form-signin{
    width:30%;
}
.signForm{
    width: 100%;
    text-align: -webkit-center !important;
    text-align: -moz-center !important;
    margin-top: 100px;
}
::ng-deep.mat-progress-spinner circle,.mat-spinner circle {
    stroke: #000000 !important;
}
#warning{
    color: #f44336;
}